 <!DOCTYPE html>
 <html lang="ja">
 <head>
     <meta charset="UTF-8">
     <title>Document</title>
     <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
     <script>
     $(function(){
         $('#btn').click(function() {
             $.ajax({
                 type: 'POST',
                 url: '/ajax',
                 dataType: 'json',
                 success: function(data) {
                     $('#msg').html(data.msg);
                 },
                 error: function() {
                 }
             });
         });
     });
     </script>
 </head>
 <body>
     <form>
         <div id="msg"></div>
         <button id="btn" type="button">Send</button>
     </form>
 </body>
 </html>